@import 'tailwindcss';
@import './fonts/Inter/font.css';
@import './fonts/Charis/font.css';

@theme inline {
  --font-sans: 'Inter-Variable', 'Arial', 'Helvetica Neue', 'Noto Sans JP',
    'BIZ UDPGothic', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', sans-serif,
    'Segoe UI', 'Yu Gothic UI', system-ui;
  --font-serif: 'Charis-Web', 'Times New Roman', 'Noto Serif JP',
    'BIZ UDPMincho', 'Hiragino Mincho', 'Hiragino Serif', serif, 'Segoe UI',
    'Yu Gothic UI', system-ui;
  --font-ipa: 'Charis-Web', 'Times New Roman', serif, system-ui;
  --color-mnlila-d: oklch(0.18 0.0957 296);
  --color-mnlila-l: oklch(0.31 0.14518 295.847);
  --color-llila: oklch(0.91 0.0488 296);
  --color-llila-2: oklch(0.85 0.0836 296);
  --link-transition-dur: 120ms;
  --tracking-ultra: 3rem;

  @keyframes fade-slide-in {
    from {
      transform: translateY(20px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes up-down {
    from {
      transform: translateY(-15px);
    }
    to {
      transform: translateY(15px);
    }
  }

  @keyframes rot-y {
    from {
      transform: rotateY(0);
    }
    to {
      transform: rotateY(360deg);
    }
  }

  @keyframes slide-in {
    0% {
      transform: translateY(65px);
    }
    31% {
      transform: translateY(65px);
    }
    69% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes thread {
    0% {
      visibility: visible;
      width: 0;
    }
    30% {
      visibility: visible;
      width: 100%;
    }
    70% {
      visibility: visible;
      width: 100%;
    }
    100% {
      visibility: visible;
      width: 0;
    }
  }
}

@utility user-select-* {
  user-select: --value('none', 'auto', 'all', 'text');
  -webkit-user-select: --value('none', 'auto', 'all', 'text');
}

@utility table-container {
  @apply overflow-x-auto my-8;
  scrollbar-width: thin;
}

@utility link-disabled {
  @apply pointer-events-none text-neutral-600 any-hover:no-underline;
}

@utility grid-cols-auto-* {
  grid-template-columns: repeat(--value(integer), auto);
}

@utility fade-slide-in {
  animation: fade-slide-in 250ms cubic-bezier(0, 1, 1, 1);
}

@utility glow {
  box-shadow: 0 0 5px 1px white;
}

@utility btn-1 {
  @apply bg-gradient-to-b from-white to-sky-300 any-hover:opacity-80 transition-opacity rounded px-2 text-lg no-underline text-black;

  &:disabled {
    @apply opacity-80;
  }
}

@custom-variant any-hover {
  &:hover {
    @media (any-hover: hover) {
      @slot;
    }
  }
}

@layer base {
  * {
    font-optical-sizing: auto;
  }

  html,
  :host {
    -webkit-tap-highlight-color: revert;
    font-feature-settings: 'case', 'cv01', 'cv05', 'cv07', 'cv08', 'cv10', 'ss03';
  }

  body {
    @apply bg-black text-white antialiased font-sans;
  }

  a {
    @apply text-cyan-300 any-hover:underline;
  }

  button,
  input[type='button'] {
    @apply cursor-pointer;

    &:disabled {
      @apply pointer-events-none;
    }
  }

  input[type='text'],
  input[type='number'],
  input[type='url'],
  textarea {
    @apply font-mono bg-white rounded text-black px-1;

    &:disabled {
      @apply bg-neutral-500;
    }
  }

  h1 {
    @apply text-3xl lg:text-4xl xl:text-5xl;
  }

  h2,
  h3,
  p,
  ul,
  ol {
    @apply leading-[1.5];
  }

  li > ul {
    @apply mb-0;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  ul {
    list-style: '\2023';
  }

  ol {
    list-style: decimal;
  }

  :is(ul, ol) > li {
    @apply ms-3 ps-1;
  }

  textarea {
    @apply resize-none;
  }

  table {
    @apply grid break-words;
  }

  thead,
  tbody,
  tfoot,
  tr {
    @apply contents;
  }

  td,
  th,
  caption {
    @apply block min-w-0 font-normal;
  }

  th {
    @apply text-green-300;
  }
}
