@import 'tailwindcss';

/* font-face settings */

@font-face {
  font-family: 'Inter-Variable';
  font-style: normal;
  src: local('Inter'),
    url('/woff2/Inter-VariableFont_opsz,wght.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Inter-Variable';
  font-style: italic;
  src: local('Inter Italic'),
    url('/woff2/Inter-Italic-VariableFont_opsz,wght.woff2')
      format('woff2-variations');
}

@font-face {
  font-family: 'Charis-SIL';
  font-weight: 100 500;
  font-style: normal;
  src: local('Charis SIL'),
    url('/woff2/CharisSIL-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Charis-SIL';
  font-weight: 100 500;
  font-style: italic;
  src: local('Charis SIL Italic'),
    url('/woff2/CharisSIL-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Charis-SIL';
  font-weight: 600 900;
  font-style: normal;
  src: local('Charis SIL Bold'),
    url('/woff2/CharisSIL-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Charis-SIL';
  font-weight: 600 900;
  font-style: italic;
  src: local('Charis SIL Bold Italic'),
    url('/woff2/CharisSIL-BoldItalic.woff2') format('woff2');
}

@theme {
  --font-sans: 'Inter-Variable', 'Arial', 'Helvetica Neue', 'Noto Sans JP',
    'BIZ UDPGothic', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', sans-serif,
    'Segoe UI', 'Yu Gothic UI', system-ui;
  --font-serif: 'Charis-SIL', 'Times New Roman', 'Noto Serif JP',
    'BIZ UDPMincho', 'Hiragino Mincho', 'Hiragino Serif', serif, 'Segoe UI',
    'Yu Gothic UI', system-ui;
  --font-ipa: 'Charis-SIL', 'Times New Roman', serif, system-ui;
  --color-mnlila-d: oklch(0.18 0.0957 296);
  --color-mnlila-l: oklch(0.31 0.14518 295.847);
  --color-llila: oklch(0.91 0.0488 296);
  --color-llila-2: oklch(0.85 0.0836 296);
  --link-transition-dur: 120ms;
  --tracking-ultra: 3rem;

  @keyframes fade-slide-in {
    from {
      transform: translateY(20px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes up-down {
    from {
      transform: translateY(-15px);
    }
    to {
      transform: translateY(15px);
    }
  }

  @keyframes rot-y {
    from {
      transform: rotateY(0);
    }
    to {
      transform: rotateY(360deg);
    }
  }
}

@utility user-select-* {
  user-select: --value('none', 'auto', 'all', 'text');
  -webkit-user-select: --value('none', 'auto', 'all', 'text');
}

@utility table-container {
  @apply overflow-x-auto my-8;
  scrollbar-width: thin;
}

@utility link-disabled {
  @apply pointer-events-none text-neutral-600 any-hover:no-underline;
}

@utility grid-cols-auto-* {
  grid-template-columns: repeat(--value(integer), auto);
}

@utility fade-slide-in {
  animation: fade-slide-in 250ms cubic-bezier(0, 1, 1, 1);
}

@utility glow {
  box-shadow: 0 0 5px 1px white;
}

@utility btn-1 {
  @apply bg-gradient-to-b from-white to-sky-300 any-hover:opacity-80 transition-opacity rounded px-2 text-lg no-underline text-black;
}

@custom-variant any-hover {
  &:hover {
    @media (any-hover: hover) {
      @slot;
    }
  }
}

@layer base {
  * {
    font-optical-sizing: auto;
  }

  html,
  :host {
    -webkit-tap-highlight-color: revert;
  }

  body {
    @apply bg-black text-slate-100 antialiased font-sans;
  }

  a {
    @apply text-purple-400 any-hover:underline;
  }

  button,
  input[type='button'] {
    @apply cursor-pointer;
  }

  input[type='text'],
  input[type='number'],
  input[type='url'],
  textarea {
    @apply font-mono border bg-neutral-700 border-white rounded px-1;

    &:disabled {
      @apply bg-neutral-500;
    }
  }

  h1 {
    @apply text-3xl lg:text-4xl xl:text-5xl;
  }

  h2,
  h3,
  p,
  ul,
  ol {
    @apply leading-[1.5];
  }

  li > ul {
    @apply mb-0;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  ul {
    list-style: '\2023';
  }

  ol {
    list-style: decimal;
  }

  :is(ul, ol) > li {
    @apply ms-3 ps-1;
  }

  textarea {
    @apply resize-none;
  }

  table {
    @apply grid break-words;
  }

  thead,
  tbody,
  tfoot,
  tr {
    @apply contents;
  }

  td,
  th,
  caption {
    @apply block min-w-0 font-normal;
  }

  th {
    @apply text-green-300;
  }
}
