@import 'tailwindcss';
@import './fonts/Inter/font.css';
@import './fonts/Charis/font.css';

@theme {
  --font-sans:
    'Inter-Variable', 'Arial', 'Helvetica Neue', 'Noto Sans JP',
    'BIZ UDPGothic', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', sans-serif,
    'Segoe UI', 'Yu Gothic UI', system-ui;
  --font-serif:
    'Charis-Web', 'Times New Roman', 'Noto Serif JP', 'BIZ UDPMincho',
    'Hiragino Mincho', 'Hiragino Serif', serif, 'Segoe UI', 'Yu Gothic UI',
    system-ui;
  --font-ipa: 'Charis-Web', 'Times New Roman', serif, system-ui;

  --color-body: Canvas;
  --color-main: Canvas;
  --color-text: CanvasText;
  --color-textinv: Canvas;
  --color-accent: #0f0;
  --color-border: hsl(0 0 100 / 25%);
  --color-link: #0ff;
  --color-link-disabled: hsl(0 0 100 / 60%);
  --color-input: #fff;

  --spacing-paragraph: 0.75rem;
  --spacing-heading: 2.5rem;
  --spacing-title: 5rem;
  --spacing-figure: 2rem;
  --spacing-min-side: 14rem;
  --spacing-max-main: 72rem;
  --spacing-header: 3rem;
  --spacing-gutter: 1rem;

  --default-font-feature-settings:
    'case', 'cv01', 'cv05', 'cv07', 'cv08', 'cv10', 'ss03';
  --font-feat-tnum: var(--default-font-feature-settings), 'tnum';

  --default-transition-duration: 80ms;
  --default-transition-timing-function: cubic-bezier(0.25, 0, 0, 1);
  --ease-in-out-1: cubic-bezier(0.25, 0, 0, 1);
  --ease-in-out-2: cubic-bezier(0.5, 0, 0.5, 1);

  --shadow-glow: 0 0 4px 1px #fff;

  @keyframes --k-up-down {
    from {
      translate: 0 -15px;
    }
    to {
      translate: 0 15px;
    }
  }

  @keyframes --k-rot-y {
    from {
      rotate: y 0;
    }
    to {
      rotate: y 360deg;
    }
  }

  --animate-not-found:
    3s var(--ease-in-out-2) alternate infinite --k-up-down,
    15s linear infinite --k-rot-y;

  --animate-spinner: 2.5s linear infinite spin;
}

@utility font-feat-* {
  font-feature-settings: --value(--font-feat-*);
}

@utility user-select-* {
  user-select: --value('none', 'auto', 'all', 'text');
  -webkit-user-select: --value('none', 'auto', 'all', 'text');
}

@utility grid-cols-auto-* {
  grid-template-columns: repeat(--value(integer, [*]), auto);
}

@utility cols-auto-fill-* {
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(calc(var(--spacing) * --value(integer)), 100%), 1fr)
  );

  grid-template-columns: repeat(
    auto-fill,
    minmax(min(--value([*]), 100%), 1fr)
  );
}

@utility cols-auto-fit-* {
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(calc(var(--spacing) * --value(integer)), 100%), 1fr)
  );

  grid-template-columns: repeat(auto-fit, minmax(min(--value([*]), 100%), 1fr));
}

@utility btn-theme-1 {
  @apply border border-accent text-accent
    hover-focus:text-textinv hover-focus:bg-accent transition-colors
    rounded px-3 py-1 no-underline;
}

@custom-variant any-hover {
  &:hover {
    @media (any-hover: hover) {
      @slot;
    }
  }
}

@custom-variant hover-focus {
  @media (any-hover: hover) {
    &:hover {
      @slot;
    }
  }

  &:focus-visible {
    @slot;
  }
}

@utility allow-discrete {
  transition-behavior: allow-discrete;
}

@layer base {
  :disabled,
  [inert],
  [aria-disabled='true'] {
    @apply opacity-60 pointer-events-none;
  }

  dialog,
  [popover] {
    @apply size-[unset] max-w-[unset] max-h-[unset] inset-[unset] fixed;
  }

  dialog:where(:not([open])),
  [popover]:where(:not(:popover-open)) {
    @apply hidden!;
  }

  :root {
    @apply max-sm:text-sm wrap-anywhere font-sans scheme-dark;
    -webkit-tap-highlight-color: revert;
    line-break: strict;
    scrollbar-gutter: stable;
    word-break: normal;
  }

  @supports (word-break: auto-phrase) {
    :lang(ja) {
      word-break: auto-phrase;
    }

    :not(:lang(ja)) {
      word-break: normal;
    }
  }

  body {
    @apply max-lg:flow-root lg:grid bg-body text-text antialiased;
    grid-template-areas:
      'h h h'
      '. m .'
      'f f f';
    grid-template-columns:
      minmax(min(var(--spacing-min-side), 50%), 1fr)
      minmax(0, var(--spacing-max-main))
      minmax(min(var(--spacing-min-side), 50%), 1fr);
    grid-template-rows: auto 1fr auto;
  }

  header,
  main,
  footer {
    @apply flow-root;
  }

  header {
    grid-area: h;
    @apply h-header;
  }

  main {
    grid-area: m;
    @apply px-gutter min-h-lvh pb-36;
  }

  footer {
    grid-area: f;
  }

  a:where(:any-link:not([aria-disabled='true'])) {
    @apply text-link hover-focus:underline;
  }

  button,
  input:where([type='button']) {
    @apply cursor-pointer;
  }

  input:where(
    :not([type]),
    [type='text'],
    [type='number'],
    [type='url'],
    [type='email'],
    [type='search'],
    [type='tel']
  ),
  textarea {
    @apply font-mono rounded border bg-input text-textinv px-1;
  }

  h1 {
    @apply text-4xl text-center my-title;
  }

  li > ul {
    @apply mb-0;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5,
  h6 {
    @apply text-base font-semibold;
  }

  b,
  strong,
  th {
    @apply font-semibold;
  }

  ul {
    list-style-type: '-\0020';
  }

  ol {
    list-style-type: decimal;
  }

  :not(li) > :where(p, pre, ul, ol) {
    @apply mt-paragraph;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-heading text-accent;
  }

  img,
  table {
    @apply my-figure;
  }

  code {
    @apply px-px border border-border rounded-sm;
  }

  ul,
  ol {
    @apply ms-5;
  }

  li > :where(ul, ol) {
    @apply ms-4;
  }

  table {
    @apply grid place-content-center-safe overflow-auto max-w-full gap-4;
  }

  thead,
  tbody,
  tfoot,
  tr {
    @apply contents;
  }

  td,
  th,
  caption {
    @apply block;
  }

  caption {
    @apply col-span-full;
  }
}
